TODO
node_modules
.DS_Store
/cartesi-rollups-graphql
/cartesi-rollups-graphql.exe
*.sqlite3
sqlite3
.idea/
.direnv/
/rollups-graphql
/rollups-node
/rollups-espresso-reader
graphql-db-migration
.vscode/launch.json
__debug_bin*
pkg/convenience/synchronizer_node/__debug_bin*
